body {
  font-family: Arial;
  background: #2c9c9c;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.main-container {
  display: flex;
  max-width: 1000px;
  justify-self: center;
}

header {
  text-align: center;
}

nav {
  background: #6b3f2e;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  padding: 20px 45px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

main {
  display: flex;
  color: white;
  height: 90%;
}

a {
  transition: 0.3s all ease-in-out;

}

a:hover {
  background-color: #a05538;
}

section {
  max-width: 70%;
  background: #3c7070;
  padding: 10px;
}

section img {
  border-radius: 10px;
  width: 100%;
}

section h2 {
  background: #6b3f2e;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 25px;
  border-radius: 10px;
}

aside {
  max-width: 30%;
  background: #f2f2f2;
  color: black;
  padding: 15px;
}

aside h2 {
  background: #6b3f2e;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 25px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .main-container section {
    max-width: 100%;
  }

  .main-container aside {
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  .main-container aside {
    display: none;
  }

  nav {
    flex-direction: column;
  }
}